.home-inner {
  flex: 1;
  background-image: url(../../../assets/images/initiation-f2018.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: -1;
}

.overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.75) 30%
  );
  margin: 0;
  width: 100%;
  height: 100vh;
  padding-top: 350px;
}

.caption {
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 5rem;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}

.caption h4 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 1.6rem;
}

.btn {
  border-width: medium !important;
  padding: 0.6rem 1.4rem !important;
  font-size: 1.1rem !important;
}

@media (max-width: 767px) {
  .caption h1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    padding-bottom: 0.5rem;
  }

  .caption h4 {
    font-size: 1.4rem !important;
    padding-bottom: 1.6rem;
  }

  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
