h2 {
  font-size: 4rem !important;
  font-family: "Nexa Bold", Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

.em1 {
  color: #ffa000;
}

hr {
  width: 80%;
  border-color: rgba(0, 0, 0, 0.2);
}

.w-80 {
  width: 80%;
  margin: auto;
}

.page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}
