h2 {
  text-align: center;
  font-size: 4rem !important;
  font-family: "Nexa Bold", Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

h3 {
  text-align: center;
  font-size: 2.6rem !important;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 2rem !important;
  font-family: "Montserrat", Helvetica, sans-serif;
}

p {
  font-family: "Montserrat", Helvetica, sans-serif;
  padding: 1rem;
  margin: auto;
}

.em1 {
  color: #ffa000;
}

hr {
  border-color: rgba(0, 0, 0, 0.2) !important;
}

.w-80 {
  width: 80%;
  margin: auto;
}

.page {
  position: absolute;
  padding-top: 4.6rem;
  left: 0;
  right: 0;
}

.section-gray {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.section-white {
  padding-top: 3em;
  padding-bottom: 3rem;
  background-color: white;
}

@media (max-width: 991px) {
  .w-80 {
    width: 100%;
    margin: auto;
  }
}
